{% assign header = site.data.header %}
{% include components/gov-banner.html %}
{% include components/site-nav.html %}

{% include components/search-area.html %}

<header>
  <div class="usa-grid">
    <h1>
      <a href="{{ site.url }}{{ site.baseurl }}/index.html" title="DigitalGov" rel="home">

        {% include image/full-width.html
          img="DigitalGov_Horizontal.png"
          alt="digital.gov"
          caption=nil
          credit=nil
          title=nil
          %}

      </a>
    </h1>
    {% include components/migration-box.html %}
  </div>
</header>

<div class="usa-overlay hidden"></div>
