<section id="search-area">
  <form accept-charset="UTF-8" action="https://find.digitalgov.gov/search" id="search_form" method="get" class="usa-search usa-search-big">
    <div role="search">
      <input name="utf8" type="hidden" value="✓">
      <input id="affiliate" name="affiliate" type="hidden" value="digitalgov">
        <input autocomplete="on" class="usagov-search-autocomplete" id="search-field-big" name="query" type="search" placeholder="Find anything published on digital.gov">
        <input name="commit" type="submit" value="Search">
    </div>
  </form>
</section>
