@include media($nav-width){
  .usa-nav-outer {
    background-color: $color-primary;
    padding-top: $grid * 2;
  }

  .usa-nav-inner {
    margin: 0 auto;
    max-width: $site-max-width;
    padding: 0 $grid * 4;
    display: flex;
  }

  .usa-navbar {
    flex: none;
    padding: $grid * 3 0;
    margin-left: 0;
  }

  .usa-logo a {
    background-image: url('#{$dg-image-path}/dg-logo-small.png');
    background-size: 24px auto;
    background-position: 0 12px;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 5px $grid * 2 $grid * 1.5 $grid * 4;
    margin-right: $grid * 2;
    &:hover {
      span {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        padding-bottom: $grid;
      }
    }
  }

  .usa-nav {
    flex: 1;
    margin-right: -$grid * 2;
  }
}


.nav-area{
  ul{
    padding:0;
    li{
      padding-right: 20px;
      display: inline-block;
      a{
        padding:0;
        text-decoration: none;
        color:$color-secondary;
        font-weight: 500;
        font-size: 18px;
        span:hover{
          border:none;
        }
      }
      a:hover{
        border-bottom: 2px solid $color-secondary;
      }
      button{
        font-weight: 500;
        font-size: 18px;
        span:hover{
          padding: 0;
          border:none;
        }
      }
      button[aria-expanded=true] span,
      button[aria-expanded=true] span:hover{
        padding: 0;
        border:none;
      }
    }
  }
}

.usa-nav {
  .btn-share {
    background: $color-primary;
    color: white;
    display: inline-block;
    padding: $grid * .5 $grid;
    text-align: center;
    width: $grid * 5;
  }
  .usa-grid {
    padding: 0;
    @include media($nav-width) {
      padding: 0 $site-margins;
    }
  }
}

@include media($nav-width) {
  .usa-nav-links {
    float: left;
    margin-left: -$grid * 1.5;
  }
  .usa-nav-share {
    float: right;
    padding-top: $grid;
  }
}
