// USWDS overrides

header, section {
  padding: 0 $grid * 4;
}

.usa-nav {
  @include media($nav-width) {
    background-color: $color-primary;
    float: none;
    margin: 0 auto;
    padding: $grid * 3 0;
  }
}

.usa-nav-primary {
  padding-top: $grid * 3;
  @include media($nav-width) {
    & > li > a {
      padding: $grid * 1.5 $grid * 2;
      color: white;
      font-size: 1.7rem;
      font-weight: 400;
    }
    a.usa-current {
      padding-left: 1.4rem;
      font-weight: 800;
      span {
        border-bottom: 4px solid $color-secondary;
        padding-bottom: $grid;
      }
    }
    a.usa-current, a:hover {
      color: white;
      span {
        border-bottom: 4px solid $color-secondary;
      }
    }
    a:hover span {
      border-color: white;
    }
  }
}

.usa-banner-inner {
  @include media($nav-width) {
    padding: $grid $site-margins;
  }
}

.usa-search {
  .usa-search-input, .usa-search [type=search] {
    border-top-left-radius: $grid;
    border-bottom-left-radius: $grid;
  }
  .usa-search-submit, .usa-search [type=submit] {

  }
}

.usa-search [type=search] {
  border-top-left-radius: $grid;
  border-bottom-left-radius: $grid;
}

.usa-search [type=submit] {
  background-color: $color-primary-darker;
  padding-left: 44px;
  @include media($medium-screen) {
    background-position: 8px 12px;
    background-image: url(#{$image-path}/search.svg);
    padding-left: $grid * 2;
    padding-bottomn: 2px;
  }
}

.usa-search.usa-search-big .usa-search-submit,
.usa-search.usa-search-big [type=submit],
.usa-search.usa-search-big .usa-search-input,
.usa-search.usa-search-big [type=search] {
  @include media($medium-screen) {
    height: $grid * 6;
  }
}

.usa-banner {
  img {
    display: none;
  }
  .usa-banner-header p {
    font-weight: 600;
  }
}
