---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %}
    <!-- Le CSS -->
    <!-- {% include styles.html %} -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" media="screen">

    <!-- blocking scripts -->

    <!-- script/picturefill -->
    {% comment %}<script src="{{ site.baseurl }}/assets/js/picturefill.min.js" async></script>{% endcomment %}

    <!-- Robots Flag -->
    <meta name='robots' content='noindex,follow' />
  </head>

  <body class="{{ layout.class }} {{ page.class }}">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    {% include components/scripts.html %}
  </body>
</html>
